<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="app">
      <div class="container">
        <input
          v-model="key"
          type="text"
          class="form-control"
          placeholder="输入关键字进行搜索"
        />
        <button @click="search()" class="btn btn-primary">搜索</button>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>编号</th>
              <th>资产名称</th>
              <th>价格</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item , index ) in showList" :key="item.id">
              <td>{{ index + 1 }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.price }}</td>
              <td><a @click="del(item.id)" href="javascript:;">删除</a></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4">总价 ：{{ total }}元</td>
            </tr>
          </tfoot>
        </table>

        <!-- 添加资产 -->
        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input
                v-model.trim="name"
                type="text"
                class="form-control"
                placeholder="资产名称"
              />
            </div>
            &nbsp;&nbsp;
            <div class="input-group">
              <input
                v-model.trim.number="price"
                type="text"
                class="form-control"
                placeholder="资产价格"
              />
            </div>
          </div>
          &nbsp;&nbsp;
          <button @click.prevent="add()" class="btn btn-primary">
            添加资产
          </button>
        </form>
      </div>
    </div>
    <script src="./vue.js"></script>
    <script src="./axios.js"></script>
    <script>
      // 目标：
      // 1. 把表格数据显示出来
      // 2. 实现删除功能
      // 3. 标注：如果价格超过100，标红色显示。
      // 4. 添加功能

      // list: [
      //     { id: 1, name: '外套', price: 99 },
      //     { id: 2, name: '裤子', price: 34 },
      //     { id: 3, name: '鞋', price: 25.4 },
      //     { id: 4, name: '头发', price: 199 }
      // ]
      const vm = new Vue({
        el: '#app',
        data: {
          key: '',
          list: [],
          name: '',
          price: 0,
          showList: [],
        },
        created() {
          // this.getList()
          this.search()
        },
        methods: {
          getList() {
            axios.get('http://localhost:3000/list').then((res) => {
              this.list = res.data
            })
          },
          add() {
            axios
              .post('  http://localhost:3000/list', {
                id: +new Date(),
                name: this.name,
                price: this.price,
              })
              .then((res) => {
                this.search()
                this.name = ''
                this.price = 0
              })
          },
          del(id) {
            axios.delete(`  http://localhost:3000/list/${id}`).then((res) => {
              this.search()
            })
          },
          search() {
            axios
              .get(`http://localhost:3000/list?name_like=${this.key}`)
              .then((res) => {
                this.showList = res.data
              })
          },
        },
        computed: {
          total() {
            let sum = 0
            this.showList.forEach((item) => (sum += item.price))
            return sum
          },
        },
      })
    </script>
  </body>
</html>
