<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      .search {
        width: 250px;
        margin: 20px 0;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <div class="container">
        <!-- 搜索 -->
        <input
          v-model="key"
          type="text"
          class="form-control search"
          placeholder="输入关键字进行搜索"
        />
        <!-- 表格 -->
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>编号</th>
              <th>资产名称</th>
              <th>资产价格</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item , index ) in list" :key="item.id">
              <td>{{ index + 1 }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.price }}</td>
              <td><a @click="del(item.id)" href="javascript:;">删除</a></td>
            </tr>
          </tbody>
        </table>
        <!-- 添加资产 -->
        <form class="form-inline">
          <input
            v-model.trim="name"
            type="text"
            class="form-control"
            placeholder="资产名称"
          />
          &nbsp;&nbsp;
          <input
            v-model.trim.number="price"
            type="text"
            class="form-control"
            placeholder="资产价格"
          />
          &nbsp;&nbsp;
          <button @click.prevent="add" class="btn btn-primary">添加资产</button>
        </form>
      </div>
    </div>

    <script src="./vue.js"></script>
    <script src="./axios.js"></script>
    <script>
      const vm = new Vue({
        el: '#app',
        data: {
          list: [],
          name: '',
          price: 0,
          key: '',
          timeId: '',
        },
        created() {
          this.getlist()
        },
        methods: {
          getlist() {
            axios({
              method: 'get',
              url: ' http://localhost:3000/list',
            }).then((res) => {
              console.log()
              this.list = res.data
            })
          },
          del(id) {
            axios({
              method: 'delete',
              url: ` http://localhost:3000/list/${id}`,
            }).then((res) => {
              this.getlist()
            })
          },
          add() {
            axios
              .post(` http://localhost:3000/list`, {
                name: this.name,
                price: this.price,
              })
              .then((res) => {
                this.getlist()
                this.name = ''
                this.price = 0
              })
          },
        },
        watch: {
          key(newValue) {
            clearTimeout(this.timeId)
            this.timeId = setTimeout(() => {
              axios
                .get(` http://localhost:3000/list?name_like=${newValue}`)
                .then((res) => {
                  this.list = res.data
                })
            }, 200)
          },
        },
      })
    </script>
  </body>
</html>
